{% extends 'main/base.html' %}

{% block content %}
<head>
    <title>Book Car</title>
</head>
<body>
    <h1>Book Car</h1>

    <form method="post" action="{% url 'book-car' %}">
        {% csrf_token %}
        <label for="{{ form.car_make.id_for_label }}">Car Make:</label>
        {{ form.car_make }}
        
        <label for="{{ form.car_year.id_for_label }}">Car Year:</label>
        {{ form.car_year }}
        
        <label for="{{ form.car_colour.id_for_label }}">Car Colour:</label>
        {{ form.car_colour }}
        
        <label for="{{ form.max_price.id_for_label }}">Max Price:</label>
        {{ form.max_price }}
        
        <button type="submit">Apply Filters</button>
    </form>

    <ul>
        {% for car in filtered_cars %}
            <li>
                {{ car.make }} {{ car.model }} ({{ car.year }})<br>
                Colour: {{ car.colour }}<br>
                Price per day: {{ car.price_per_day }}<br>
                Available: {% if car.is_available %}Yes{% else %}No{% endif %}<br>
                
                <!-- Adds form under cars with car information and input for days -->
                <form method="POST" action="{% url 'book-car-detail' car.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="car_id" value="{{ car.id }}">
                    <label for="booking_days">Number of Days:</label>
                    <input type="number" name="booking_days" min="1" required>
                    <input type="submit" value="Book Now" {% if not car.is_available %}disabled{% endif %}>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
{% endblock %}


