{% extends 'main/base.html' %}

{% block content %}
    <h1>Profile</h1>

    {% if not user.is_authenticated %}
        <script type="text/javascript">
            window.location.href = "/register";
        </script>
    {% else %}

    <style>
        h2 {
            color: rgb(109, 109, 255);
        }
    </style>

        <h2>User Information</h2>
        <p><strong>Username:</strong> {{ user.username }} <a href="">Edit</a></p>
        <p><strong>Email:</strong> {{ user.email }} <a href="">Edit</a></p>
        <p><strong>Name:</strong> {{ user.first_name }} {{ user.last_name }} <a href="">Edit</a></p>

        <p><strong>License Number:</strong> {{ user.licensenumber }} <a href="">Edit</a></p>
        <br>
        <p><a href="">Edit Payment Info</a></p>

        <br><br>
        <h2>Upcoming Bookings</h2>

        <br><br>
        <h2>Past Bookings</h2>

    {% endif %}
{% endblock %}
